:root {
    --main-color: rgb(28, 97, 143);
    --second-color: rgb(255, 255, 255);
    --ligt-color:aliceblue;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

ol,
ul,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.home {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: var(--ligt-color);
}

.home::before {
    content: "";
    position: absolute;
    background-color: #0a568a71;
    color: var(--second-color);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.nav {
    display: flex;
    padding-top: 75px;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 25px;
}

.nav__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    top: 89px;
}

.nav__link:hover {
    color: rgba(255, 255, 255, 0.562);
    color: var(--second-color);

}

.home__inner {
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    max-width: 640px;
    width: 100%;
    font-size: 48px;
    justify-content: flex-start;
}

.home__link {
    position: relative;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: block;
    text-align: center;
}

.home__link::before {
    content: '';
    position: absolute;
    background-image: url(./img/Vector.png);
    height: 21px;
    width: 37px;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
@keyframes arrow {
    0% {
      top: 40px;
    }
    50% {
      top: 70px;
    }
    100% {
      top: 40px;
    }
  }